Repository sjnims/book_of_business: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, system, critical_business_logic

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "80...100"  # Enterprise standard: 80-100%
  
  status:
    # Overall project coverage
    project:
      default:
        target: 85%  # Higher target for enterprise
        threshold: 1%  # Stricter threshold
        if_not_found: failure
        if_ci_failed: error
        informational: false
      
      # Separate targets for different components
      models:
        target: 90%  # Critical business logic needs high coverage
        paths:
          - "app/models/**"
        if_not_found: failure
      
      controllers:
        target: 85%
        paths:
          - "app/controllers/**"
        if_not_found: failure
      
      services:
        target: 90%  # Business logic services need high coverage
        paths:
          - "app/services/**"
        if_not_found: failure
      
      lib:
        target: 85%
        paths:
          - "lib/**"
        if_not_found: failure
    
    # Coverage for changed code
    patch:
      default:
        target: 90%  # New code should have high coverage
        threshold: 1%
        base: auto
        if_not_found: failure
        if_ci_failed: error
        only_pulls: false

# Ignore files that don't need coverage
ignore:
  - "test/**"
  - "spec/**"
  - "db/**"
  - "config/**"
  - "bin/**"
  - "public/**"
  - "vendor/**"
  - "**/*.yml"
  - "**/*.json"
  - "**/*.md"
  - "**/application_*.rb"  # Base classes
  - "app/assets/**"
  - "app/javascript/**"
  - "app/views/**"  # Views are tested via system tests

# Flag-based coverage for different test types
flags:
  unittests:
    paths:
      - "app/**"
      - "lib/**"
    carryforward: true
  
  integration:
    paths:
      - "app/**"
    carryforward: true
  
  system:
    paths:
      - "app/**"
    carryforward: true

# Parser configuration
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: true  # Enable method coverage
      macro: false

# PR comment configuration
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: true  # Only comment when coverage changes
  require_base: true
  require_head: true
  branches:
    - main
    - master
  after_n_builds: 1  # Wait for all CI builds
  
  # Show coverage trends
  show_carryforward_flags: true
  show_critical_paths: true
  
# GitHub integration
github_checks:
  annotations: true  # Show inline annotations in PR

# Component-specific settings
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
    paths:
      - "!test/**"
      - "!spec/**"
  
  individual_components:
    - component_id: critical_business_logic
      name: critical_business_logic
      paths:
        - "app/models/order.rb"
        - "app/models/service.rb"
        - "app/models/customer.rb"
        - "app/services/revenue_calculator.rb"
        - "app/services/tcv_calculator.rb"
      statuses:
        - type: project
          target: 95%  # Critical files need near-complete coverage
          threshold: 0%

Fix Codecov upload issues
  .github/workflows/ci.yml
  test/test_helper.rb
Due: none

Fix trailing whitespace in test_helper.rb
  test/test_helper.rb
Due: none

Fix CI cache tar failures
  .github/workflows/ci.yml
Due: none

Fix Codecov integration and enhance coverage configuration
  codecov.yml
  test/test_helper.rb
Due: none

Fix test results directory creation and upload
  .github/workflows/ci.yml
Due: none

Fix mass assignment security vulnerability in UsersController
  app/controllers/users_controller.rb
Due: unittests, integration, system

Fix SimpleCov formatter naming for Rails autoloading
  lib/simplecov_console_formatter.rb
  test/test_helper.rb
Due: unittests

Achieve 100% branch coverage by testing role parameter edge case
  test/controllers/users_controller_test.rb
Due: none

Update documentation with Hotwire stack details
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  ROADMAP.md
Due: none

Add enterprise-grade CodeQL security analysis
  .github/SECURITY.md
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  .github/codeql/custom-queries.ql
  .github/codeql/rails-security.qls
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
Due: none

Fix CodeQL configuration by moving queries to config file
  .github/codeql/codeql-config.yml
  .github/codeql/custom-queries.ql
  .github/workflows/codeql.yml
Due: none

Remove Node.js setup and optimize CodeQL for Rails Import Maps
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

Add documentation-only workflow and optimize CI for doc changes
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  README.md
Due: none

Fix markdownlint configuration error
  .github/workflows/docs.yml
  .markdownlint.yaml
Due: none

Fix cspell configuration error
  .cspell.json
  .github/workflows/docs.yml
Due: none

Fix CodeQL badge link and remove deprecated lychee flag
  .github/workflows/docs.yml
  README.md
Due: none

Complete Phase 1: Foundation 🏗️
  ROADMAP.md
  app/controllers/application_controller.rb
  app/models/audit_log.rb
  app/models/concerns/auditable.rb
  app/models/current.rb
  app/models/customer.rb
  app/models/order.rb
  app/models/service.rb
  app/models/user.rb
  db/migrate/20250607181501_create_audit_logs.rb
  db/schema.rb
  db/seeds.rb
  test/fixtures/audit_logs.yml
  test/fixtures/customers.yml
  test/fixtures/orders.yml
  test/fixtures/services.yml
  test/fixtures/users.yml
  test/models/audit_log_test.rb
  test/models/concerns/auditable_test.rb
  test/models/customer_test.rb
  test/models/order_test.rb
  test/test_helper.rb
Due: unittests, integration, system, critical_business_logic

fix: Add 'runbooks' to cspell dictionary
  .cspell.json
Due: none

Complete Phase 2.1: Revenue Calculations 💼
  .githooks/pre-commit
  .githooks/pre-push
  README.md
  ROADMAP.md
  app/models/service.rb
  app/services/revenue_calculator.rb
  bin/setup-hooks
  lib/tasks/hooks.rake
  test/models/service_test.rb
  test/services/revenue_calculator_test.rb
Due: unittests, integration, system, critical_business_logic

Fix Solid Queue configuration
  config/application.rb
  config/initializers/solid_queue.rb
Due: none

Complete Solid Queue setup with recurring jobs
  bin/jobs
  config/application.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/queue.yml
  db/queue_schema.rb
Due: none

chore: Update pre-commit hook to skip secrets check in test files
  .githooks/pre-commit
  test/controllers/services_status_transition_test.rb
Due: none

fix: Update CI workflow to handle multiple databases
  .github/workflows/ci.yml
Due: none

fix: Configure PostgreSQL connection for CI environment
  .github/workflows/ci.yml
  config/database.yml
Due: none

feat: Implement as-sold vs as-delivered tracking for services
  Gemfile
  Gemfile.lock
  ROADMAP.md
  app/controllers/orders_controller.rb
  app/controllers/services_controller.rb
  app/models/order.rb
  app/models/service.rb
  app/services/revenue_calculator.rb
  app/views/orders/show.html.erb
  app/views/services/_form.html.erb
  app/views/services/show.html.erb
  db/migrate/20250607201200_add_created_by_to_orders.rb
  db/migrate/20250607202345_rename_existing_fields_to_as_sold_and_add_as_delivered_to_services.rb
  db/queue_schema.rb
  db/schema.rb
  db/seeds.rb
  test/controllers/services_controller_test.rb
  test/controllers/services_status_transition_test.rb
  test/fixtures/orders.yml
  test/fixtures/services.yml
  test/jobs/service_status_update_job_test.rb
  test/models/customer_test.rb
  test/models/order_de_book_test.rb
  test/models/order_partial_de_book_test.rb
  test/models/order_renewal_test.rb
  test/models/order_test.rb
  test/models/service_status_workflow_test.rb
  test/models/service_test.rb
  test/services/revenue_calculator_test.rb
  test/test_helper.rb
Due: unittests, integration, system, critical_business_logic
